    <!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="header-design">
      <div class="left-side">
      <a href="http://localhost:3000/"><img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ロゴ" class="logo-pic"></a>
      <% if user_signed_in? %>
       <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag :search,'',:class=>"search",placeholder: 'エリア、キーワードでの検索' %> <!-- placeholderの位置に注意 -->
        <%#= submit_tag ’検索’ %>
       <% end %>
      <% end %>
    </div>
    
    <div class="right-side">
            <!-- 以下、右上ボタン　-->
      <% if user_signed_in? %>
        <!-- 折り畳み -->
        <!-- ユーザー名表示 -->
      <p class="name-position login-name">
        <% if current_user %>
          <%= current_user.name %>
        <% end %>
        </p> <!-- :class=>"login-name" をはずしています。あるとエラーになるため　-->
      
      <!-- 画像表示 -->
      <div class="img-position">
      <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;" class="menu-click">
          <% if current_user.img? %>
          　<%= image_tag current_user.img.url,:class=>"profile-img" %>
          <% else %>
            <%= image_tag "/assets/images/default.jpeg", :size=> '80*80' %>
          <% end %>
        </a> 
      </div>
      </div>
            <!--// 折り畳み -->
            
            <!-- 折り畳まれ部分 --> <%# 　クリックで展開 %>
      <div id="open" style="display:none;clear:both;">
        <ul>
          <li class="user-icon-list">
            <%#ここの変数定義はまだ終わっていない%>
          </li>
          <li class="user-icon-list"><%= link_to "ルーム登録", new_room_path %></li>
          <li class="user-icon-list"><%= link_to "予約済み一覧", reservations_path %></li>
          <li class="user-icon-list"><%= link_to "登録済みルーム一覧", rooms_path %></li><!-- ここのパスはページを作成してから -->
          <li class="user-icon-list"><%= link_to "設定", edit_user_registration_path(current_user) %></li>
          <li class="user-icon-list"><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
      <% else %>
        <div class="login">
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "登録する", new_user_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>

    </header>
    <!-- 以下はdeviseのフラッシュメッセージ -->
    <p class="alerm-design"><%= notice %></p>
    
    <%= yield %>
  
    <footer>@ 2020 POTEPAN.INC.</footer>
  </body>
</html>
